/* Instructions:
At least four style definitions (it is possible you will have many more than four styles)
Styles that specify font color
Styles that specify font family
At least three divs for positioning and styling blocks of content in the HTML page */

/* scratch layout */
.bakingpage{
    background-image: url(../assets/img/orangeslice.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* ensures the body takes up full viewport height */
    margin: 0; /* removes default margin */  
    z-index: -1;
}
body{
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color:rgb(234, 192, 112);
    border-bottom: solid 1px black;
    padding: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
     
}
.main{
    flex: 1;
    margin-top: 100px;
    margin-bottom: 35px;
    margin-left:250px;
    margin-right: 250px;
    background-color:#ffffffbf;
    position:relative;
    overflow-y: auto;
    padding: 35px;
    text-align: center;
}
.footer{
    bottom: 0;
    left:0;
    right: 0;
    height: 35px;
    background-color: rgb(243, 204, 141);
    border-top: black 1px;
    position: fixed;
    padding-top: 10px;
}

/* styles */
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 25px;
    color: rgb(115, 49, 14);
}

.footstyle{
    text-align: center;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: maroon;
}
.title{
    color: black;  
}

.menu{
    float: right;
    padding-left: 600px; 
}
a {
    font-size: 30px;
    text-decoration: none;
    color: black;
}
a:hover {font-style: italic;}

img{
    height: 300px;
}
.center{
    display: inline-block;
}
li{
    text-align: left;
}